#carouselExampleIndicators{
    max-width: 80vw;
    
}
#carouselExampleIndicators, .carrousel-inner, .carrousel-item{
    margin-left: 10vw;
    min-height: 60%;
}
#flecha{
    width: 100%;
    margin: 5vh 0;
    padding: 0;
    height: 15vh;
}
#flecha img{
    width: 10vw;
    margin-left: 45vw;
    margin-top: -30vh;
    z-index: -1;
}

@keyframes flecha {
    0%{
        z-index: -1;
        margin-top: -30vh;
    }
    100%{
        z-index: 1;
        margin-top: 0;
    }
}
#two-dot-first{
    margin-top: 15vh;
    margin-bottom: 10vh;
}
#pub1 img{
    max-width: 40vw;

}
#pub1{
    text-align: center !important;
    margin-bottom: 5vh;
}

#flecha-more{
    text-align: center;
    min-width: 10vw;
    max-height: 8vh;
    margin-left: 45vw;
    margin-bottom: 10vh;
}
#flecha-more .media-body{
    max-width: fit-content;
    font-size: 20px;
    max-height: 5vh;
}

#flecha-more img{
    transform: rotate(-90deg);
    margin: 0;
    padding: 0;
    min-width: 2vw;
    max-width: 5vw;
}